.child-item {
  display: flex;
  align-items: center;
  position: relative;
}

.child-item::after,
.child-item::before {
  content: "";
  position: absolute;
  left: 20px;
}

.child-item::before {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom-left-radius: 10px;
  z-index: -1;
  top: -40px;
  width: 30px;
  height: 60px;
}


